a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fab-item {
  width: 64px !important;
  height: 64px !important;
  border-radius: 50% !important;
}

.fab-container {
  right: 2vw !important;
  bottom: 5vh !important;
}

h1 {
  color: #00008b !important;
}

h2 {
  color: #00008b !important;
}

h3 {
  color: #00008b !important;
}

h4 {
  color: white !important;
}

p {
  color: #131915 !important;
}

#header-menu {
  background-color: transparent !important;
}

@media (max-width: 1440px) {
  .-burger-icon {
    right: 44px !important;
  }
}

.main-brand-color {
  background-color: #00006b;
}

.light-shades {
  background-color: #f5f7f7;
}

.light-accent {
  background-color: #cc787f;
}

.dark-accent {
  background-color: #ae4068;
}

.dark-shades {
  background-color: #131915;
}
